@import './config/_variables';
@import './config/_reset';

@import './components/modal';
@import './components/play-modal';
@import './components/chart-modal';
@import './components/playlist-modal';

a {
	color: inherit;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	font-family: $font-family-roboto;
	background-image: url('@public/bg_mobile.jpg');
	background-size: cover;

	@media (min-width: 768px) {
		background-image: url('@public/bg_desktop.jpg');
	}
}

main {
	height: 100vh;
}

#login-modal,
#register-modal,
#logout-modal,
#playlist-modal {
	display: none;
}

.song-list {
	margin-top: 20px;
	list-style: none;
	padding: 0;
}

.song-list li {
	color: white;
	margin-bottom: 10px;
}

.inner-box {
	border: 1px solid;
	border-bottom-color: #fff;
	border-right-color: #fff;
	border-top-color: gray;
	border-left-color: gray;
	background-color: #e6e6e6;
}

.btn {
	border: 1px solid;
	border-bottom-color: gray;
	border-right-color: gray;
	border-top-color: #fff;
	border-left-color: #fff;
	background-color: #e6e6e6;
}

.hidden {
	display: none;
}

.icon-box {
	position: absolute;
	top: 50px;
	left: 50px;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: 768px) {
		left: initial;
		right: 50px;
	}
}

.icon-box + .icon-box {
	top: 170px;
}
