.player-box nav .menu {
	padding: 6px 0 3px 9px;
	display: flex;
	font-size: 15px;
	// border-bottom: 1px solid white;
	text-transform: capitalize;
	// text-decoration: underline;
}

.player-box nav .menu li {
	cursor: pointer;
}

.player-box nav .menu li + li {
	margin-left: 10px;
}

.audio-group {
	margin: 4px;
	padding: 14px 28px 0;
}

.player-box .audio-player {
	width: 300px;
	height: 200px;
	outline: none;
}

.player-box .audio-info-box .thumb-nail {
	width: 100%;
	height: 200px;
	border: 1px solid white;
}

.player-box .audio-info-box .title {
	margin-top: 12px;
	word-break: keep-all;
	text-align: center;
	font-weight: 500;
	font-family: $font-family-pretendard;
}

.audio-player-controls {
	margin: auto 0;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-progress {
	margin-top: 16px;
	height: 4px;
}

.audio-progress-bar {
	height: 100%;
	background-color: #ff0000;
	width: 0;
	transition: width 0.5s ease;
}

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

// button#play-button,
// button#pause-button,
// button#stop-button {
// 	border: none;
// 	border-radius: 5px;
// 	margin: 0 10px;
// 	padding: 10px;
// 	cursor: pointer;
// }

button:hover i {
	color: #acacac;
}

input[type='range'] {
	width: 200px;
	height: 10px;
	margin: 0 10px;
}
