.player-modal nav .menu {
	padding: 6px 0 3px 9px;
	display: flex;
	font-size: 15px;
	text-transform: capitalize;
}

.player-modal nav .menu li {
	cursor: pointer;
}

.player-modal nav .menu li + li {
	margin-left: 10px;
}

.audio-group {
	margin: 4px;
	padding: 14px 28px 0;
}

.player-modal .audio-player {
	width: 300px;
	height: 200px;
	outline: none;
}

.player-modal .audio-info-box .thumb-nail {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border: 1px solid white;
}

.player-modal .audio-info-box .thumb-nail img {
	width: 100%;
	height: auto;
}

.player-modal .audio-info-box .title {
	margin-top: 12px;
	word-break: keep-all;
	text-align: center;
	font-weight: 500;
	font-family: $font-family-pretendard;
}

.audio-player-controls {
	margin: auto 0;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-progress {
	margin-top: 16px;
	height: 5px;
}

.audio-progress-bar {
	height: 100%;
	background-color: black;
	width: 0;
	transition: width 0.5s ease;
}

.player-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.player-controls .player-group button {
	width: 51px;
}
.player-controls .player-group button.play-button {
	width: 57px;
}

.player-controls .player-group button.pause-button {
	width: 57px;
}

.player-controls > button {
	width: 57px;
}

button:hover i {
	color: #acacac;
}

input[type='range'] {
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type='range'] {
	width: 95px;
	height: 5px;
	margin-left: 3px;
}

input[type='range']::-webkit-slider-thumb {
	height: 22px;
	width: 10px;
	cursor: pointer;
	border: 1px solid;
	border-bottom-color: gray;
	border-right-color: gray;
	border-top-color: #fff;
	border-left-color: #fff;
	background-color: #e6e6e6;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
