.register-modal {
	width: 380px;
	.modal-header {
		width: 100%;
	}
	.register-box {
		margin: 21px 0 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 21px;
		.register-img-box {
			width: 68px;
			img {
				width: 100%;
			}
		}
		.register-form {
			display: flex;
			flex-direction: column;
			gap: 6px;
			label {
				text-transform: capitalize;
			}
			.email-box {
				display: flex;
				justify-content: space-between;
				gap: 2px;
			}
			.password-box {
				display: flex;
				justify-content: space-between;
				gap: 2px;
			}

			input[type='email']:focus,
			input[type='password']:focus {
				outline: none;
				border-color: #000;
				box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2);
			}
			button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, 90%);
				display: flex;
				align-items: center;
				padding: 3px 30px 4px;
				font-family: $font-family-pretendard;
				span + span {
					margin-left: 6px;
				}
			}
		}
	}
	.login-induce-box {
		margin-bottom: 21px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		font-family: $font-family-pretendard;
		color: #777;

		.btn-open-login {
			font-size: 14px;
			font-family: $font-family-pretendard;
			color: #777;
			text-decoration: underline;
			transition: color 0.5s;
			cursor: pointer;

			&:hover {
				color: #222;
			}
		}
	}
}
