doctype html
html(lang="ko")
    head
        title  #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="icon", href="/public/favicon.svg", type="image/x-icon")

        meta(property="og:type", content="website")
        meta(property="og:url", content="https://happymusic.fly.dev/")
        meta(property="og:title", content="#{siteName}")
        meta(property="og:description", content="당신의 마음을 끌어올려 줄 음악을 찾아보세요. Happy Music은 기쁨과 긍정을 실어 줄 노래들을 찾는 최고의 공간입니다.") 
        meta(property="og:image", content="/public/og_image.jpg")
    body            
        main
            block content
    script(src="/static/js/main.js") 
    script(src="https://www.youtube.com/iframe_api") 
    block scripts