doctype html
html(lang="ko")
    head
        title Happy Music
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        link(rel="icon", href="/public/favicon.svg", type="image/x-icon")

        meta(property="og:type", content="website")
        meta(property="og:url", content="https://happyhappymusic.netlify.app")
        meta(property="og:title", content="Happy Music")
        meta(property="og:description", content="당신의 마음을 끌어올려 줄 음악") 
        meta(property="og:image", content="/public/og_image.jpg")
    body            
        main
            block content
    script(src="/assets/js/main.js") 
    script(src="https://www.youtube.com/iframe_api") 
    block scripts