extends base

block content
  .icon-box
    .icon-img 
      img(src='public/music.svg')
    span.icon-txt music   
  .icon-box
    .icon-img 
      img(src='public/user.svg')
    span.icon-txt user  


  #player
  #player-modal.player-modal.modal
    #player-modal-header.modal-header
      h1 Music
      .icon-group
        button#player-modal-close
          i.fa.fa-times-circle

    nav
      ul.menu
        li.chart 
          u c
          span hart
        li.playlist
          u p
          span laylist

    .audio-group.inner-box 
      audio#audio-player.audio-player

      .audio-info-box
        .thumb-nail
        .title 아이유 - 라일락 (시티팝 리믹스) IU - LILAC (Citypop remix)

      .audio-player-controls
        .audio-progress.inner-box 
          .audio-progress-bar
          br
        #player-controls.player-controls
          button#backward-button.btn
            i.fa.fa-backward
          button#play-button.btn
            i.fa.fa-play
          button#pause-button.btn
            i.fa.fa-pause
          button#forward-button.btn
            i.fa.fa-forward
          input#volume-slider(type='range', min='0', max='1', step='0.01', value='1')



  #chart-modal.modal.chart-modal
    #chart-modal-header.modal-header
      h1 Chart
      .icon-group
        button.modal-close#chart-modal-close
          i.fa.fa-times-circle  
    ul.chart-content.inner-box 

