extends base

block content

  #player
  .player-box.modal
    .title-box
      h1 Popular City Pop Songs
      .window-box
        button.window-close
          i.fa.fa-times-circle

    nav
      ul.menu
        li.chart 
          u c
          span hart
        li.playlist
          u p
          span laylist

    .audio-group.inner-box 
      audio#audio-player.audio-player

      .audio-info-box
        .thumb-nail
        .title 아이유 - 라일락 (시티팝 리믹스) IU - LILAC (Citypop remix)

      .audio-player-controls
        .audio-progress.inner-box 
          .audio-progress-bar
          br
        #player-controls.player-controls
          button#backward-button.btn
            i.fa.fa-backward
          button#play-button.btn
            i.fa.fa-play
          button#pause-button.btn
            i.fa.fa-pause
          button#forward-button.btn
            i.fa.fa-forward
          input#volume-slider(type='range', min='0', max='1', step='0.01', value='1')



  #chart-modal.modal
    .modal-content

