extends base

block content
  h1 Popular City Pop Songs
  #player
  audio#audio-player
  
  .video-player
    
    .controls

    .audio-progress
      .audio-progress-bar
      br
      #player-controls
        button#play-button
          i.fa.fa-play
        button#pause-button
          i.fa.fa-pause
        button#stop-button
          i.fa.fa-stop
        input#volume-slider(type='range', min='0', max='1', step='0.01', value='1')

  #song-list
