h1 회원가입
form(method="post")#register-form
    label(for="email") 이메일:
    input(type="email", id="email", name="email", required)
    label(for="password") 비밀번호:
    input(type="password", id="password", name="password", required)
    button(type="submit", value="회원가입") 회원가입
    p 이미 계정이 있으신가요?
    a(href="/login") 로그인